html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

h1 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #377ba8;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
}

.content>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

/* ############ Logs Styling ############ */

:root {
    --info-color: green;
    --error-color: red;
    --warning-color: orange;
    --debug-color: darkgray;
    --other-color: lightgray;
}

.logs {
    padding: 5px;
    border: 1px solid black;
}

.log {
    padding: 5px;
    margin: 10px;
}

.log p {
    font-size: medium;
}

time {
    font-size: small;
}

.log.Info {
    border: 3px solid var(--info-color);
}

.log.Error {
    border: 3px solid var(--error-color);
}

.log.Warning {
    border: 3px solid var(--warning-color);
}

.log.Debug {
    border: 3px solid var(--debug-color);
}

.log.Other {
    border: 3px solid var(--other-color);
}

.Info .log-category p {
    font-size: small;
    font-weight: bold;
    color: var(--info-color);
}

.Error .log-category p {
    font-size: small;
    font-weight: bold;
    color: var(--error-color);
}

.Warning .log-category p {
    font-size: small;
    font-weight: bold;
    color: var(--warning-color);
}

.Debug .log-category p {
    font-size: small;
    font-weight: bold;
    color: var(--debug-color);
}

.Other .log-category p {
    font-size: small;
    font-weight: bold;
    color: var(--other-color);
}